* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    background-color: #88dd88;
}

a:visited {
    color: black;
}

a:hover {
    background-color: #509250;
    color: white;
}

b {
    padding: 0;
}

h1 {
    background-color: #88dd88;
    font-weight: bold;
    width: 500px;
}

h2,
strong {
    padding-bottom: 0;
    text-decoration: underline;
}

li {
    background-color: #ffe4c4;
    padding: 5px;
}

#cursiva {
    font-style: oblique;
}

img {
    border: 2px solid black;
    padding: 0;
    margin-top: 10px;
}